*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 body {
    text-align: center;
    margin-top: 150px; 
    font-family: Arial, sans-serif;
    
}

h1{
   color: orange;

}

h2{
    color: darkblue;
}

img {
  height: 50px;   
  width: 50px; 
  margin: 20px;

 
}




